* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid #dbdbdb;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header .navbar .navbar-brand {
  margin-right: 40px;
}

.header .navbar .navbar-brand img {
  width: 150px;
}

.header .navbar button {
  outline: none;
}

.header .navbar button span {
  color: #407FC8;
  font-size: 30px;
}

.header .navbar .nav-content .nav-menu .nav-item {
  margin-right: 40px;
  position: relative;
}

.header .navbar .nav-content .nav-menu .nav-item a {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.header .navbar .nav-content .nav-menu .nav-item .nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: #407FC8;
  position: absolute;
  bottom: -13px;
  left: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header .navbar .nav-content .nav-menu .nav-item .nav-link:hover::after {
  height: 7px;
}

.header .navbar .nav-content .account-cart .account {
  border: 1px solid #407FC8;
  color: #407FC8;
  font-weight: 500;
}

.header .navbar .nav-content .account-cart .account:hover {
  background: #407FC8;
  color: #fff;
}

.header .navbar .nav-content .account-cart .cart {
  margin-left: 20px;
  background: #E62E51;
  padding: 6px 12px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.header .navbar .nav-content .account-cart .cart span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #407FC8;
  background: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 500;
}

.carousel-outside {
  margin-top: 70px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-outside .carousel__left {
  width: 50%;
}

.carousel-outside .carousel__left .carousel .carousel-inner .carousel-item {
  position: relative;
}

.carousel-outside .carousel__left .carousel .carousel-inner .carousel-item .image-inner {
  width: 200px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.carousel-outside .carousel__right {
  width: 50%;
  padding: 0 50px 0 50px;
}

.carousel-outside .carousel__right p {
  font-size: 50px;
  color: #407FC8;
  line-height: 50px;
  margin-bottom: 50px;
}

.carousel-outside .carousel__right span {
  color: #000;
  line-height: 20px;
  display: block;
}

.carousel-outside .carousel__right .btn {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carousel-outside .carousel__right .btn button {
  background: #407FC8;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.intro {
  padding: 50px 220px;
  text-align: center;
  background: #F5F6F8;
}

.intro p {
  color: #407FC8;
  font-size: 30px;
  margin-bottom: 40px;
}

.intro span {
  color: #000;
  line-height: 20px;
  display: block;
}

.features .features__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#70c0f9), to(#407FC8));
  background: linear-gradient(to right, #70c0f9, #407FC8);
  height: 400px;
}

.features .features__item1 .features__item-left {
  width: 55%;
  height: 100%;
}

.features .features__item1 .features__item-left img {
  width: 100%;
  height: 100%;
}

.features .features__item1 .features__item-right {
  width: 45%;
  color: #fff;
  padding: 30px;
}

.features .features__item1 .features__item-right h5 {
  font-size: 30px;
  margin-bottom: 30px;
}

.features .features__item1 .features__item-right span {
  font-size: 15px;
  line-height: 20px;
  display: block;
}

.features .features__item1 .features__item-right p {
  font-weight: 500;
  font-size: 20px;
  margin-top: 23px;
  margin-bottom: 10px;
}

.features .features__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  background: #F5F6F8;
}

.features .features__item2 .features__item2-left {
  width: 45%;
  color: #000;
  padding: 30px;
}

.features .features__item2 .features__item2-left h5 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #407FC8;
}

.features .features__item2 .features__item2-left p {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.features .features__item2 .features__item2-left .margin-top-p {
  margin-top: 23px;
}

.features .features__item2 .features__item2-left span {
  font-size: 15px;
  line-height: 20px;
  display: block;
}

.features .features__item2 .features__item2-left .highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 30px;
}

.features .features__item2 .features__item2-left .highlight .highlight-item i {
  font-size: 30px;
  color: #407FC8;
}

.features .features__item2 .features__item2-left .highlight .highlight-item p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
}

.features .features__item2 .features__item2-right {
  width: 55%;
  height: 100%;
}

.features .features__item2 .features__item2-right img {
  width: 100%;
  height: 100%;
}

.feedback {
  background: #4D5459;
  padding: 50px 0;
}

.feedback .carousel-indicators {
  bottom: -50px;
}

.feedback .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 20px;
}

.feedback .carousel-inner .carousel-item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback .carousel-inner .carousel-item .content .image {
  width: 50%;
}

.feedback .carousel-inner .carousel-item .content .image img {
  width: 100%;
}

.feedback .carousel-inner .carousel-item .content .carousel-item-content {
  width: 50%;
  padding: 0 50px 0 50px;
  color: #fff;
}

.partner {
  text-align: center;
  padding: 50px 0;
}

.partner h5 {
  font-size: 30px;
  color: #407FC8;
}

.partner p {
  margin: 50px 0;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.partner .partner__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partner .partner__logo img {
  width: 150px;
}

.subscribe {
  background: #69757E;
  margin: 0 auto;
  padding: 80px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe .subscribe__content {
  text-align: center;
  color: #fff;
}

.subscribe .subscribe__content h3 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}

.subscribe .subscribe__content p {
  margin-bottom: 30px;
}

.subscribe .subscribe__content .input-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe .subscribe__content .input-group input {
  width: 50%;
  outline: none;
  padding: 0 10px;
}

.subscribe .subscribe__content .input-group button {
  padding: 10px 30px;
}

.footer {
  background: #4D5459;
  color: #fff;
}

.footer img {
  width: 150px;
}

.footer i {
  letter-spacing: 5px;
}
/*# sourceMappingURL=index.css.map */