*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    border-bottom: 1px solid rgb(219, 219, 219);
    background: rgba($color: #fff, $alpha: 0.9);
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .navbar{
        .navbar-brand{
            margin-right: 40px;
            img{
                width: 150px;
            }
        }

        button{
            span{
            color: #407FC8;
            font-size: 30px;
            }
            outline: none;
        }

        .nav-content{
            .nav-menu{
                .nav-item{
                    margin-right: 40px;
                    position: relative;
                    a{
                        font-size: 18px;
                        font-weight: 600;
                        color: #000;
                    }
                    .nav-link::after{
                        content: "";
                        display: block;
                        width: 100%;
                        height: 0;
                        background: #407FC8;
                        position: absolute;
                        bottom: -13px;
                        left: 0;
                        transition: all 0.3s linear;
                    }
                    .nav-link:hover::after{
                        height: 7px;
                    }
                }
            }
            .account-cart{
                .account{
                    border: 1px solid #407FC8;
                    color: #407FC8;
                    font-weight: 500;
                    &:hover{
                        background: #407FC8;
                        color: #fff;
                    }
                }
                .cart{
                    margin-left: 20px;
                    background: #E62E51;
                    padding: 6px 12px;
                    font-size: 18px;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                    span{
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        color: #407FC8;
                        background: #fff;
                        line-height: 20px;
                        text-align: center;
                        border-radius: 50%;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.carousel-outside{
    margin-top: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    .carousel__left{
        width: 50%;
        .carousel{
            .carousel-inner{
                .carousel-item{
                    position: relative;
                    .image-inner{
                        width: 200px;
                        position: absolute;
                        top: 20px;
                        right: 20px;
                    }
                }
            }
        }
    }
    .carousel__right{
        width: 50%;
        padding: 0 50px 0 50px;
        p{
            font-size: 50px;
            color: #407FC8;
            line-height: 50px;
            margin-bottom: 50px;
        }
        span{
            color: #000;
            line-height: 20px;
            display: block
        }
        .btn{
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            button{
                background: #407FC8;
                border: none;
                border-radius: 10px;
                padding: 8px 20px;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }       
}

.intro{
    padding: 50px 220px;
    text-align: center;
    background: #F5F6F8;
    p{
        color: #407FC8;
        font-size: 30px;
        margin-bottom: 40px;
    }
    span{
        color: #000;
        line-height: 20px;
        display: block
    }        
}

.features{
    .features__item1{
        display: flex;
        align-items: center;
        background: linear-gradient(to right, #70c0f9, #407FC8);
        height: 400px;
        .features__item-left{
            width: 55%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .features__item-right{
            width: 45%;
            color: #fff;
            padding: 30px;
            h5{
                font-size: 30px;
                margin-bottom: 30px;
            }
            span{
                font-size: 15px;
                line-height: 20px;
                display: block;
            }
            p{
                font-weight: 500;
                font-size: 20px;
                margin-top: 23px;
                margin-bottom: 10px;
            }
        }
    }

    .features__item2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        background: #F5F6F8;
        .features__item2-left{
            width: 45%;
            color: #000;
            padding: 30px;
            h5{
                font-size: 30px;
                margin-bottom: 30px;
                color: #407FC8;
            }
            p{
                font-weight: 700;
                font-size: 20px;
                margin: 0;
            }
            .margin-top-p{
                margin-top: 23px;
            }
            span{
                font-size: 15px;
                line-height: 20px;
                display: block;
            }
            .highlight{
                display: flex;
                justify-content: space-around;
                text-align: center;
                margin-top: 30px;
                .highlight-item{
                    i{
                        font-size: 30px;
                        color: #407FC8;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 700;
                        margin: 0;
                        margin-top: 15px;
                    }
                }
            }
        }
        .features__item2-right{
            width: 55%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.feedback{
    background: #4D5459;
    padding: 50px 0;
    .carousel-indicators{
        bottom: -50px;
        li{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 20px;
        }
    } 
    .carousel-inner{
        .carousel-item{
            .content{
                display: flex;
                align-items: center;
            .image{
                width: 50%;
                img{
                    width: 100%;
                }
            }
            .carousel-item-content{
                width: 50%;
                padding: 0 50px 0 50px;
                color: #fff;
            }
            }
        }
    }
}

.partner{
    text-align: center;
    padding: 50px 0;
    h5{
        font-size: 30px;
        color: #407FC8;
    }
    p{
        margin: 50px 0;
        color: #000;
        font-weight: 400;
        font-size: 18px;
    }
    .partner__logo{
        display: flex;
        justify-content: space-around;
        img{
            width: 150px;
        }
    }
}

.subscribe{
    background: #69757E;
    margin: 0 auto;
    padding: 80px 10px;
    justify-content: space-between;
    .subscribe__content{
        text-align: center;
        color: #fff;
        h3{
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 40px;
        }
        p{
            margin-bottom: 30px;
        }
        .input-group{
            justify-content: center;
            input{
                width: 50%;
                outline: none;
                padding: 0 10px;
            }
            button{
                padding: 10px 30px;
            }
        }
    }
}

.footer{
    background: #4D5459;
    color: #fff;
    img{
        width: 150px;
    }
    i{
        letter-spacing: 5px;

    }
}